<?xml version="1.0" encoding="utf-8"?>
<?define path=".\build\windows\runner\Release"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="WiX Flutter" Manufacturer="BoseV" Id="{D902C463-8F62-483C-B4D4-70E830773138}" UpgradeCode="{531472A6-FA01-4560-8581-9493B28E213E}" Language="1033" Codepage="1252" Version="1.0.0">
    <Package Id="*" Keywords="Installer" Description="BoseV's Installer for the wix_flutter project" Comments="For more info, visit https://www.github.com/bosevjeff/wix_flutter" InstallerVersion="200" Compressed="yes" SummaryCodepage="1252"/>
    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1' />
    <Property Id='DiskPrompt' Value="BoseV's WiX Flutter 1.0 Installation [1]" />
    <WixVariable Id="WixUILicenseRtf" Value="assets\License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="assets\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="assets\dialog.bmp" />
    <Icon Id="cpl_app_icon.ico" SourceFile="assets\app_icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="cpl_app_icon.ico"></Property>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!--
      Using ProgramFilesFolder insted of ProgramFiles64Folder due to warnings emitted as demo'd in ERROR 02
      -->
      <Directory Id="ProgramFilesFolder" Name="WiX Flutter">
        <Directory Id="BoseV" Name="BoseV">
          <Directory Id="INSTALLDIR" Name="wix_flutter">

            <!--Main Executable Component-->
            <Component Id="MainExecutable" Guid="{A5901C85-75D7-4868-B0CF-884096E79ED6}">
              <File Id="EXE_Main" Name="wix_flutter.exe" DiskId="1" Source="wix_flutter.exe" KeyPath="yes">
                <Shortcut Id="StartMenu_Main" Directory="ProgramMenuDir" Name="WiX Flutter" WorkingDirectory="INSTALLDIR" Icon="wix_flutter.exe" IconIndex="0" Advertise="yes"></Shortcut>
                <Shortcut Id="Desktop_Main" Directory="DesktopFolder" Name="WiX Flutter" WorkingDirectory="INSTALLDIR" Icon="wix_flutter.exe" IconIndex="0" Advertise="yes"></Shortcut>
              </File>
            </Component>

            <!--flutter_windows.dll-->
            <Component Id="FlutterWindowsDll" Guid="{12014936-4EDF-43DF-A0E8-6C65955AF2E4}">
              <File Id="DLL_FlutterWindows" DiskId="1" Source="flutter_windows.dll" KeyPath="yes"></File>
            </Component>

            <!--data Folder-->
            <Directory Id="data" Name="data">
              <!--app.so-->
              <Component Id="AppSo" Guid="{196F23CD-58D5-4C32-A4B0-C51C26FF358B}">
                <File Id="SO_App" DiskId="1" Source="data\app.so" KeyPath="yes"></File>
              </Component>
              <!--icudtl.dat-->
              <Component Id="IcudtlDat" Guid="{3DB0BF48-A7F8-4D13-865A-22B28F6FEDE8}">
                <File Id="DAT_Icudtl" DiskId="1" Source="data\icudtl.dat" KeyPath="yes"></File>
              </Component>
              <!--flutter_assets Folder-->
              <Directory Id="FlutterAssets" Name="flutter_assets">
                <!--AssetManifest.json-->
                <Component Id="AssetManifestJson" Guid="{B770A491-E6C9-47D4-A97C-8CCDDD4A63BF}">
                  <File Id="JSON_AssetManifest" DiskId="1" Source="data\flutter_assets\AssetManifest.json" KeyPath="yes"></File>
                </Component>
                <!--FontManifest.json-->
                <Component Id="FontManifestJson" Guid="{63F12450-168A-4752-90C2-F722D02E830E}">
                  <File Id="JSON_FontManifest" DiskId="1" Source="data\flutter_assets\FontManifest.json" KeyPath="yes"></File>
                </Component>
                <!--NOTICES.Z-->
                <Component Id="NoticesZ" Guid="{1C7A89C7-5056-41B7-AD99-06617F8F66DE}">
                  <File Id="Z_Notices" DiskId="1" Source="data\flutter_assets\NOTICES.Z" KeyPath="yes"></File>
                </Component>
                <!--Fonts-->
                <Directory Id="fonts" Name="fonts">
                  <!--MaterialIcons-Regular.otf-->
                  <!--
                  Has warnings as in ERROR 01
                  Set TrueType=yes for TTC\TTF\OTF fonts and omit FontTitle
                  -->
                  <Component Id="MaterialIconsRegularOtf" Guid="{74FC467F-A760-444C-8DCE-4BEED2BDAF62}">
                    <File Id="OTF_MaterialIconsRegular" DiskId="1" Source="data\flutter_assets\fonts\MaterialIcons-Regular.otf" KeyPath="yes" TrueType="yes"></File>
                  </Component>
                </Directory>
                <!--google_fonts-->
                <Directory Id="google_fonts" Name="google_fonts">
                  <!--Roboto-Regular.ttf-->
                  <!--
                  Has warnings as in ERROR 01
                  -->
                  <Component Id="RobotoRegularTtf" Guid="{1E6D21CF-1B9D-4BAC-9E19-B5E3E978EDE0}">
                    <File Id="TTF_RobotoRegular" DiskId="1" Source="data\flutter_assets\google_fonts\Roboto-Regular.ttf" KeyPath="yes" TrueType="yes"></File>
                  </Component>
                </Directory>
                <!--packages-->
                <Directory Id="packages" Name="packages">
                  <!--cupertino_icons-->
                  <Directory Id="cupertino_icons" Name="cupertino_icons">
                    <!--assets-->
                    <Directory Id="cupertino_icons_assets" Name="assets">
                      <!--CupertinoIcons.ttf-->
                      <!--
                      Has warnings as in ERROR 01
                      -->
                      <Component Id="CupertinoIconsTtf" Guid="{89EFA71B-FA01-4CE6-9734-68A1E2E62D3A}">
                        <File Id="TTF_CupertinoIcons" DiskId="1" Source="data\flutter_assets\packages\cupertino_icons\assets\CupertinoIcons.ttf" KeyPath="yes" TrueType="yes"></File>
                      </Component>
                    </Directory>
                  </Directory>
                </Directory>
                <!--shaders-->
                <Directory Id="shaders" Name="shaders">
                  <!--ink_sparkle.frag-->
                  <Component Id="InkSparkleFrag" Guid="{8B4FF325-681D-4B9B-8E50-4B92E28CAD2B}">
                    <File Id="FRAG_InkSparkle" DiskId="1" Source="data\flutter_assets\shaders\ink_sparkle.frag" KeyPath="yes"></File>
                  </Component>
                </Directory>
              </Directory>
            </Directory>

          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="WiX Flutter">
          <Component Id="ProgramMenuDir" Guid="{F2FD5F05-F594-4C14-9B1A-7AA7B8690E77}">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
      <Directory Id='DesktopFolder' Name='Desktop'></Directory>
    </Directory>
    <!--
    The presence of the ConfigurableDirectory key here ensures that the user can change the Install Directory.
      -->
    <!--<Feature Id='Complete' Level='1' Title='WiX Flutter Complete' Description='Install Everything' Display='expand' ConfigurableDirectory='INSTALLDIR'>-->
      <!-- Nesting features as was done previously makes the Uninstall button disappear for the Start Menu entry. -->
      <!--
      **********************************************************
      The features installed are determined by the install level (of type signed int16) of the installer. e.g. If install level is 5, all non-zero positive level features upto and including level 5 will be installed.
      Typically, the follwing levels are used:
      Slim Install (Mandatory Features only): Level=1
      Typical Install : Level=3
      Complete Install : Level=1000
      **********************************************************
      Setting AllowAdvertise=no disables Install-on-Demand for the feature. Disabling here as missing components in the main component may lead to unforseen circumstances.
        -->
       <Feature Id='Minimal' Level='1' Title='WiX Flutter Complete' Description='Install Everything' Display='expand' ConfigurableDirectory='INSTALLDIR' AllowAdvertise='no'>
        <ComponentRef Id='MainExecutable'/>
        <ComponentRef Id='FlutterWindowsDll'/>
        <ComponentRef Id='AppSo'/>
        <ComponentRef Id='IcudtlDat'/>
        <ComponentRef Id='AssetManifestJson'/>
        <ComponentRef Id='FontManifestJson'/>
        <ComponentRef Id='NoticesZ'/>
        <ComponentRef Id='MaterialIconsRegularOtf'/>
        <ComponentRef Id='RobotoRegularTtf'/>
        <ComponentRef Id='CupertinoIconsTtf'/>
        <ComponentRef Id='InkSparkleFrag'/>
        <ComponentRef Id='ProgramMenuDir'/>
      </Feature>
      <!--
    Do not leave features empty due to the bug as outlined on this page: https://www.firegiant.com/wix/tutorial/user-interface/custom-settings/
    Summary:
    * There seems to be a bug in Windows Installer. With features having no files inside, this entry will appear in the context menu even if you use the attributes outlined above to remove it. In this case, add an empty component (with no files inside) to the feature.
    -->
      <!--<Feature Id='Documentation' Title='Description' Description='The instruction manual' Level='1000'></Feature>-->
    <!--</Feature>-->
    <Icon Id='wix_flutter.exe' SourceFile='wix_flutter.exe'/>
    <!--
    Adding Installer UI
    **************************************************************************
    Possible installer UIs can be set by changing the Id key in UIRef. For possible values, see https://www.firegiant.com/wix/tutorial/user-interface/ui-wizardry/
    Summary:
    WixUI_Mondo offers the complete interface, welcome page, license agreement, setup type (typical, custom and complete), allows for feature customization, browsing for the target directory and offers disk costing. Maintenance mode dialogs are also included. You should use this flavor when some of your product's features shouldn't be installed by default (in other words, there is a significant and meaningful difference between typical and complete installs).
    WixUI_FeatureTree is similar to the full set but it doesn't allow the user to chose between setup types. It always assumes Custom and goes directly to the feature customization dialog after the user has accepted the license agreement.
    WixUI_InstallDir allows the user to select a destination directory but without presenting the usual customized features page. After having selected the directory, the installation will proceed automatically*.
    WixUI_Minimal features a simplistic user interface with a single dialog combining the welcome and license agreement pages. After that, the installation goes on automatically without allowing the user to customize anything. Use it when your application has no optional features to install.
    WixUI_Advanced is rather similar to WixUI_Minimal as it offers a simple, one-click install but it also allows selecting features and folders if the user chooses to do so.
    *Note that if you use the WixUI_InstallDir dialog set, you'll have to provide an extra property somewhere in your source:
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    **************************************************************************
    The second UIRef includes localised/modified error and progress texts, replacing the stock messages. Increases the package size by a small amount.
    -->
    <UIRef Id='WixUI_Mondo'/>
    <UIRef Id='WixUI_ErrorProgressText'/>
  </Product>
</Wix>

<!-- ERROR 01:
$Project Root$build\windows\runner\Release\windows.wxs(54) : warning LGHT1076 : ICE60: The file OTF_MaterialIconsRegular is not a Font, and its version is not a companion file reference. It should have a language specified in the Language column.
$Project Root$build\windows\runner\Release\windows.wxs(61) : warning LGHT1076 : ICE60: The file TTF_RobotoRegular is not a Font, and its version is not a companion file reference. It should have a language specified in the Language column.
$Project Root$build\windows\runner\Release\windows.wxs(72) : warning LGHT1076 : ICE60: The file TTF_CupertinoIcons is not a Font, and its version is not a companion file reference. It should have a language specified in the Language column.
-->

<!-- ERROR 02:
$Project Root$build\windows\runner\Release\windows.wxs(14) : error LGHT0204 : ICE80: This 32BitComponent MainExecutable uses 64BitDirectory INSTALLDIR
$Project Root$build\windows\runner\Release\windows.wxs(22) : error LGHT0204 : ICE80: This 32BitComponent FlutterWindowsDll uses 64BitDirectory INSTALLDIR
$Project Root$build\windows\runner\Release\windows.wxs(29) : error LGHT0204 : ICE80: This 32BitComponent AppSo uses 64BitDirectory data
$Project Root$build\windows\runner\Release\windows.wxs(33) : error LGHT0204 : ICE80: This 32BitComponent IcudtlDat uses 64BitDirectory data
$Project Root$build\windows\runner\Release\windows.wxs(39) : error LGHT0204 : ICE80: This 32BitComponent AssetManifestJson uses 64BitDirectory FlutterAssets
$Project Root$build\windows\runner\Release\windows.wxs(43) : error LGHT0204 : ICE80: This 32BitComponent FontManifestJson uses 64BitDirectory FlutterAssets
$Project Root$build\windows\runner\Release\windows.wxs(47) : error LGHT0204 : ICE80: This 32BitComponent NoticesZ uses 64BitDirectory FlutterAssets
$Project Root$build\windows\runner\Release\windows.wxs(53) : error LGHT0204 : ICE80: This 32BitComponent MaterialIconsRegularOtf uses 64BitDirectory fonts
$Project Root$build\windows\runner\Release\windows.wxs(60) : error LGHT0204 : ICE80: This 32BitComponent RobotoRegularTtf uses 64BitDirectory google_fonts
$Project Root$build\windows\runner\Release\windows.wxs(71) : error LGHT0204 : ICE80: This 32BitComponent CupertinoIconsTtf uses 64BitDirectory cupertino_icons_assets
$Project Root$build\windows\runner\Release\windows.wxs(80) : error LGHT0204 : ICE80: This 32BitComponent InkSparkleFrag uses 64BitDirectory shaders
-->